#coff1 {
  background:     linear-gradient(
      rgba(0, 0, 0, 0.45),
      rgba(0, 0, 0, 0.45)
    ), url(../images/fox.png) no-repeat center;
  background-size: cover;
}

#coff2 {
  background:     linear-gradient(
      rgba(0, 0, 0, 0.45),
      rgba(0, 0, 0, 0.45)
    ), url(../images/collins.png) no-repeat center;
  background-size: cover;
}
