#shop1 {
  background:     linear-gradient(
      rgba(0, 0, 0, 0.45),
      rgba(0, 0, 0, 0.45)
    ), url(../images/anchor.png) no-repeat center;
  background-size: cover;
}

#shop2 {
  background:     linear-gradient(
      rgba(0, 0, 0, 0.45),
      rgba(0, 0, 0, 0.45)
    ), url(../images/declaration.png) no-repeat center;
  background-size: cover;
}
